html {
    width: 100%;
}

nav {
    display: flex;
    border-bottom: 1px solid #cbd5e1;
    padding-bottom: 2px;
    box-sizing: border-box;
}

.logito {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 31px;
}

.semi-title {
    display: flex;
    align-items: center;
}

.semi-title h1{
    margin: 9px 0px 15px 24px;
    box-sizing: border-box;
    width: 183px; 
}

.space-between {
    width: 44%;
}

.insert-inputs {
    display: flex;
    justify-content: flex-end;
    width: 535px;
    margin-left: -16px;
}
.log-in {
    display: flex;
    flex-direction: row-reverse;
    width: 354px;
}

.boxes:nth-child(1){
    margin-left: 8px;
}

.text {
    margin: 5px;
}

.the-button {
    margin-top: 7px;
}
.announcement {
    color: red;
}
.inactive {
    display: none;
}


/* second part */
.second-part {
    display: flex;
}

.boxes-below {
    display: grid;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
}

.second-part img {
    height: 302px;
    width: 100%;
}

.second-part p {
    height: 1px;
    width: 88%;
}